@charset "utf-8";
/* CSS Document */
/* استایل کل بادی */
body{
	margin:0;
	padding:0;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

/* استایل هدر */
.header{
	background-color:rgba(157, 121, 188, 0.8);
	position:relative;
	display:flex;
	justify-content:space-between;
	padding:15px 20px;
	z-index:10;
	align-items:center;
}

/* تصویر بکگراند */
.background{
	background:url(background.jpg) no-repeat center center;
	position:relative;
	background-size:cover;
	top:100%;
	width:100%;
	height:100vh;
}

/* لوگو */
.logo{
	position:absolute;
	top:10px;
	left:10px;
}

.logo img{
	width:80px;
}

/* آیکن های سمت راست */
.right-section{
	justify-content:right;
	margin-left:10px;
	display:flex;
	position:absolute;
	right:20px;
	top:10px;
}

.icon-button img{
	width:30px;
	height:30px;
	opacity:1;
	transition:opacity 0.3s ease-in-out;
}

.icon-button img:hover{
	opacity:0.5;
} 

/* محتویات داخل هدر */
.header-content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	flex:1;
}

/* سرچ */
.search-bar{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:10px;
}

.search-input{
	font-size:16px;
	border-radius:5px;
	border:1px solid #A67B5B;
	text-align:left;
	direction:ltr;
	padding:10px;
}

.search-button{
	background-color:#D4A373;
	border:none;
	margin-left:5px;
	border-radius:8px;
	padding:10px 20px;
	cursor:pointer;
	box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
	transition:all 0.3s ease-in-out;
}

.search-button:hover{
	background-color:#C08E6F;
	transform:scale(1,0.5);
}

/* فرم ثبت نام */
.form-wrapper{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

/* ظاهر کلی فرم */
.form-container{
	width:600px;
	padding:20px;
	display:flex;
	flex-direction:column;
	align-items:center;
	border-radius:10px;
	box-shadow:0px 0px 15px rgba(0, 0, 0, 0.1);
	direction:rtl;
	text-align:right;
	gap:15px;
}

/* فرم از هر طرف فاصله مساوی داشته باشه */
.form{
	margin:auto;
}

/* نوشته های داخل فرم */
input, select{
	width:100%;
	padding:10px;
	font-size:14px;
	border:1px solid #ccc;
	border-radius:5px;
	box-sizing:border-box;
}

/* عنوان هر فیلد مرتب باشه */
lable{
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	color:#444;
}

/* کاربر هرچی بنویسه له حروف بزرگ تیدیل میشه */
#fname {
	text-transform:uppercase;
}

/* دکمه فرم ثبت نام */
input[type="submit"]{
	background-color:#6200ea;
	color:white;
	padding:12px;
	border:none;
	border-radius:5px;
	cursor:pointer;
	font-size:16px;
	width:100%;
}

/* وقتی بریم رو دکمه */
input[type="submit"]:hover{
	background-color:#4b0082;
}

/* ظاهر کلی سبد خرید */
.book, .cart-container{
	max-width:600px;
	background:#B9EBE1;
	direction:rtl;
	margin:auto;
	padding:20px;
	margin-bottom:20px;
	border-radius:10px;
	box-shadow:0 0 8px rgba(0,0,0,0.1);
}


/* ظاهر هر آیتم در سبد خرید */
.book, .cart-item {
	border:1px solid #B189DE;
	padding:15px;
	margin-bottom:15px;
	background-color:#D8BCDC;
}

/* دکمه سبد خرید */
button {
	background:#007bff;
	color:white;
	border:none;
	padding:10px 15px;
	border-radius:5px;
	cursor:pointer;
}

/* وقتی میریم روی دکمه */
button:hover {
	background:#0056b3;
}

/* فاصله تصویر */
img {
	margin-right:10px;
}

/* هر آیتم لیست از هم فاصله بگیرن */
li {
	margin:8px 0;
}

/*عنوان ها مثل تیتر */
h2{
	text-align:center;
	margin-bottom:25px;
	color:#444;
}

/* کل سبد خرید */
.cart-section {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #C3B6E8;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* تیتر داخل سبد خرید */
.cart-section h2 {
	text-align:center;
	color:#1976d2;
	margin-bottom:15px;
	}

/* وقتی سبد خرید خالیه */ 
.cart-empty {
  text-align:center;
  color:#666;
  padding:25px 10px;
  background:#fafafa;
  border:1px dashed #ddd;
  border-radius:10px;
}

/* جدول یبد خرید */
.cart-table {
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
  background: #fff;
  border-radius:8px;
  overflow:hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* سلول های جدول */
.cart-table th, .cart-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* عنوان جدول سبد خرید مثل قیمت و تعداد */
.cart-table th {
  background: #f4f4f4;
  font-weight: bold;
}

/* دکمه های + و - */
.qty-controls {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:5px;
	}
	
	/* تعداد محصول */
.qty-input {
  width:40px;
  text-align:center;
  border:1px solid #ccc;
  border-radius:4px;
  padding:4px;
}

/* رنگ دکمه ها */
.btn-qty, .btn-remove, .btn-clear, .checkout-btn {
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  color:#fff;
}

/* دکمه های  و ثبت سفارش و حذف و + و - */
.btn-qty { background:#9e9e9e; }
.btn-qty:hover { background:#7e7e7e; transform: scale(1.1); }
.btn-remove { background:#e53935; }
.btn-remove:hover { background:#c62828; transform: scale(1.1); }
.btn-clear { background:#9e9e9e; }
.btn-clear:hover { background:#7e7e7e; transform: scale(1.1); }
.checkout-btn { background:#4caf50; }
.checkout-btn:hover { background:#388e3c; transform: scale(1.1); }

/* مجموع قیمت سبد خرید */
.cart-total {
  margin-top: 15px;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

/* دکمه ها */
.cart-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content:center;
}
 /* کتاب هری پاتر */
.harry-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}
/* کتاب gatsby */
.greate-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب pride */
.pride-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب basic eng */
.basic-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب perfect Tence*/
.perfect-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب Ielts*/
.Ielts-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب combridge*/
.combridge-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب oxford*/
.oxford-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

.menu-item-details {
	overflow:hidden;
}

/* کتاب vocabulary*/
.vocabulary-page {
	background-color:#B45FF4;
	direction:rtl;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding:20px;
}

/* ظاهر تصویر کتاب */
.menu-item img {
	width:150px;
	float:right;
	margin-left:20px;
	border-radius:5px;
}

/* اضافه شدن اضافه های متن */
.menu-item-details {
	overflow:hidden;
}
/* لیست اصلی منو */
.menu>ul{
	list-style:none;
	display:flex;
	justify-content:center;
	margin:0;
	padding:0;
	position:relative;
}

/* خوده منو */
.menu>ul>li{
	position:relative;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight:bold;
	padding:10px 15px;
	color:#000000;
	cursor:pointer;
}

/* ظاهر زیر منو */
.submenu{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background-color:rgba(242,224,255,0.9);
	padding:10px;
	border-radius:5px;
	z-index:99;
}

/* هنگام هاور زیر منو */
.menu>ul>li:hover .submenu{
	display:block;
}

/* افکت روی متن زیر منو */
.submenu>li:hover{
	background-color:#E6CCFF;
	font-weight:bold;
	color:#6D7545;
}

/* ظاهر معمولی زیر منو ها */
.submenu>li{
	color:#7D5A50;
	font-size:18px;
	transition:all 0.3s ease-in-out;
}

/* محصولات */
.products{
	text-align:center;
	padding:20px;
}

/* ظاهر کلی لیست کتاب ها */
.book-list{
	display:flex;
	justify-content:center;
	gap:20px
}

/* استایل هر کتاب */
.book{
	background-color:rgba(242,224,255,0.9);
	padding:15px;
	border-radius:10px;
	text-align:center;
	width:200px;
}

/* تصویر کتاب */
.book img{
	width:100px;
}

/* دکمه افزودن به سبد خرید */
.book button{
	background-color:#9D79BC;
	color:white;
	border:none;
	padding:8px;
	border-radius:5px;
	cursor:pointer;
}

/* وقتی ماوس روی دکمه میره */
.book button:hover{
	background-color:#7C4A99;
}

/* ویژگی فوتر */
.footer{
	background-color:rgba(157,121,188,0.8);
	color:black;
	text-align:center;
	padding:20px;
	margin-top:20px;
}
